<body>
  <main>
    <div class="banner">
      <div class="banner-text">
        <div class="banner-title">Say My Name</div>
        <div class="banner-subtitle">To Find The Glow in YOU</div>
      </div>
    </div>

    <div class="container">
      <div class="box-left">
        <div class="boxHead">Über Uns <br><br>
          <div class="boxInfo">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque expedita architecto amet, sit inventore
            consectetur at nobis placeat incidunt nesciunt laborum totam aperiam veniam vero! Quisquam, molestiae natus.
            Quisquam dicta ullam sed totam quae architecto numquam fugit blanditiis! Corrupti autem adipisci repellat
            blanditiis nisi, repudiandae ipsum quo soluta exercitationem aliquid fugiat modi! Accusamus qui tenetur
            aperiam. Doloremque, quis itaque. Dolor tempora in, sequi fuga deleniti exercitationem necessitatibus
            dignissimos eos accusamus, vitae veniam ea a dolorem nisi! Quos ipsam error eius necessitatibus expedita
            repellat esse, nesciunt voluptatibus consequatur debitis consectetur accusamus sunt excepturi numquam qui
            fugit odit in hic vitae! Quidem.
          </div>
        </div>
      </div>

      <div class="image-box">
        <img src="assets/images/banner.png" alt="Über Uns">
      </div>
    </div>
  </main>
</body>