
<body>
  <main>
<!--
<header class="banner">
  <div class="banner-background">
    <img src="/assets/images/pexels-photo-1115128.png">
          <div class="container">
            <div class="banner-head">Say My Name</div>
            <div class="banner-subhead">Über Uns</div>
          </div>
    </div>
        
    </header>
  -->

<div class="banner">
  <img class="banner-image" src="/assets/images/pexels-photo-1115128.png" alt="Banner Background">

  <div class="banner-text">
            <div class="banner-title">Your Main Banner Text</div>
            <div class="banner-subtitle">Supporting text or call to action</div>
        </div>
        
</div>

 <!-- <div class="Banner">
      <img src="/assets/images/pexels-photo-1115128.png">

    </div> -->
  <div class="centered-content">
    <p>about-us works!</p>
    
    
    
    <div class="container">

      <div class="box">
        <div class="boxHead">Über Uns <br><br>
          <div class="boxInfo">blah blah Text wir sind tollblh blah
          </div>
        </div>
      </div>

    </div>

  </div>

  </main>
</body>
