/* ==================== */
/* CONTENT BOX STYLES */
/* ==================== /
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 90%;
    margin: 2rem auto;
}
/
.box {
    flex: 2;
    min-width: 300px;
    background-color: var(--blush);
    color: var(--dark-brown);
    height: auto;
    margin: 20px;
    padding: 20px;
    border-radius: 25px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(117, 64, 67, 0.15);
    /* Neuer Schatten /
    transition: box-shadow 0.3s ease;
    /* Sanfte Animation /
}

.boxHead {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: var(--dark-brown);
}

.boxInfo {
    font-size: medium;
    font-weight: normal;
    line-height: 1.6;
}
*/
.image-box {
    flex: 1;
    min-width: 300px;
    background-color: var(--blush);
    height: auto;
    margin: 20px;
    padding: 20px;
    border-radius: 25px;
    display: flex;
    align-items: center;
}

.image-box img {
    width: 100%;
    height: auto;
    box-shadow: 0 4px 12px rgba(117, 64, 67, 0.15);
    /* Neuer Schatten */
    transition: box-shadow 0.3s ease;
    /* Sanfte Animation */
}