.banner {
    background: var(--dark-brown);
    color: var(--cream);
    padding: 100px 0;
    text-align: center;
}
.banner-image {
            margin: auto;
            display: block;
        }
 .banner-text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: var(--cream);
            text-align: center;
            width: 80%;
        }

.banner-title {
    font-size: 3rem;
    margin-bottom: 2rem;
    ;
}
.banner-subtitle {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

body.centered-content {
    max-width: 600px; /* Optional: Limit width */
    padding: 20px;
    }
    
.container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-evenly;
}

.box{
    flex: 2;
  min-width:300px;
  background-color: var(--blush);
  color: var(--dark-brown);
  height: auto;
  width: 75%;
  margin: 20px;
  padding: 20px;
  border-radius: 25px;
  text-align: center;
}

.boxHead {
    font-size: larger;
    font-weight: bold;
}
.boxInfo {
    font-size: medium;
    font-weight: normal;
}

.box img {
    width: 100%;
    display: block;
}

.image-box {
    flex: 1;
    min-width:300px;
    background-color: var(--blush);
    height: auto;
    width: 25%;
    margin: 20px;
    padding: 20px;
    border-radius: 25px;
}

.image-box img {
    width: 100%;
}