/* navbar */

nav{
    background-color: var(--deep-maroon);
    overflow: visible;
    position: fixed;
    z-index: 10;
    width: 100%;
}

nav ul{
    width: 100%;
    text-align: center;
}

nav li{
    margin: 0 auto;
    list-style: none;
    padding: 0;
    float: left;
    display: block;
}

nav li:hover {
    text-decoration: dotted;
    background-color: var(--blush);
}

nav a {
    display: block;
    padding: 25px;
    text-transform: initial;
    position: relative;
    color: var(--cream);
    text-decoration: none;
}    

/* Suchleiste */

nav .search-container {
    float: right;
    margin-left: 2rem;
}

nav input[type=text] {
    padding: 15px;
    margin-top: 8px;
    font-size: 17px;
  }
  
nav .search-container button {
    float: right;
    padding: 25px;
    margin-left: 16px;
    font-size: 17px;
    border: none;
    cursor: pointer;
    color: var(--cream);
    background-color: transparent;
  }

.no-events:hover {
    background-color: unset;
  }

/* Elemente Rechts in Navbar */
  
nav .right {
    float: right;
}  