<nav>
  <div class="nav-container">
    <!-- Hamburger Menu Icon (Nur Mobile) -->
    <div class="hamburger" (click)="toggleMenu()">
      <img src="assets/images/icons/menu.png" alt="Menu">
    </div>

    <!-- Logo (Mobile und Desktop) -->
    <div class="logo">
      <a routerLink="/home" (click)="closeMenu()" data-title="Home">
        <img src="/assets/images/icons/home.png" alt="Home">
      </a>
    </div>

    <!-- Navigation Links -->
    <ul [class.active]="menuActive">
      <li><a routerLink="/about" (click)="closeMenu()">Über Uns</a></li>
      <li><a routerLink="/products" (click)="closeMenu()">Produkte</a></li>
      <li><a routerLink="/kontakt" (click)="closeMenu()">Kontakt</a></li>

      <div>
        <li class="no-events">
          <!-- Suche -->
          <div class="search-container"> 
            <input type="text" 
                   placeholder="Suche..." 
                   name="searchbar"
                   [(ngModel)]="searchTerm"
                   (keyup.enter)="search()">
            <button (click)="search()">Suchen <img src="/assets/images/icons/search.png" alt="Suche"></button>
          </div>
        </li>
      </div>
      
      <!-- Navigation rechts -->
      <div class="right-items">
        <li class="right"><a routerLink="/login" data-title="Login" (click)="closeMenu()"><img src="/assets/images/icons/person.png" alt="Login"></a></li>
        <li class="right"><a routerLink="/cart" data-title="Warenkorb" (click)="closeMenu()"><img src="/assets/images/icons/shopping_basket.png" alt="Korb"></a></li>
      </div>
    </ul>
  </div>
</nav>