<!-- src/app/shared/components/header/header.component.html -->
<nav>
  <ul>
    <!--Logo anklickbar, ist home button-->
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/about">Über Uns</a></li>
    <li><a routerLink="/products">Produkte</a></li>
    <li><a routerLink="/favorites">Favoriten</a></li>

    <li class="no-events">
      <div class="search-container"> 
        <input type="text" placeholder="Suche..." name="searchbar">
        <button onclick="searchBar()">Suchen</button>
      </div>
    </li>

    <li>
      <a class="portfolio-link" routerLink="/about">
          <img class="img-fluid" src="say-my-name/src/assets/images/shopping-cart.png" alt="Portfolio item">
      </a>
    </li>


    <li class="right"><a routerLink="/register" data-title="Registrieren">Registrieren</a></li>
    <li class="right"><a routerLink="/login" data-title="Login">Login</a></li>

    <!-- searchbar + Suche Button
        Warenkrb Icon
        Profil Icon -->


    </ul>
</nav>    
    <!--
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/about">About Us</a></li>
    <li><a routerLink="/impressum">Impressum</a></li>
    <li><a routerLink="/kontakt">Kontakt</a></li>
    <li><a routerLink="/login">Login</a></li>
    <li><a routerLink="/register">Registrieren</a></li>
    <li><a routerLink="/account">Profil</a></li>
  -->
  

<!-- logo, searchbar + button
 change and delete some links
 when mobile -> hamburger menu dropdown
    -> icons online runterladen
-->