<!--
<footer class="footer">
    <div class="container">
      <div class="footer-content">
        <p>&copy; 2023 MyShop. All rights reserved.</p>
        <div class="footer-links">
          <a routerLink="/about">About Us</a>
          <a routerLink="/contact">Contact</a>
          <a routerLink="/privacy">Privacy Policy</a>
        </div>
      </div>
    </div>
  </footer>
-->

<footer>
  <ul>
    <a routerLink="/about">Über Uns</a>
    <a routerLink="/kontakt">Kontakt</a>
    <a routerLink="/privacy">Privacy Policy</a>
  </ul>
</footer>